@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom override for the React Calendar library to fit our theme */
.react-calendar {
  width: 100%;
  border: none !important;
  font-family: inherit;
}