@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-h: #1f2937;
  --code-bg: #f3f4f6;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

